@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content-container">
    <h1 class="title">Welcome</h1>
    <div class="card-grid">
        @{
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
            Html.RenderPartial("_PlantCard");
        }
    </div>
</div>