
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="nav-fixed" id="sidebar">
    <ul class="navibar">
        <li class="">
            <a asp-area="" asp-controller="Home" class="">
                <svg class="navbar-item" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m420.87 256.748v209.81c0 3.86-3.14 7-7 7h-315.74c-3.86 0-7-3.14-7-7v-209.81l164.87-148.04z" fill="#ecf6fe" /><path d="m286.905 146.469-133.964 120.284v206.799h-54.811c-3.866 0-7-3.134-7-7v-209.799l164.87-148.037 36.391 32.672z" fill="#dbebfc" /><path d="m477.682 306.141c-.001 0-.001 0 0 0-8.471.001-16.61-3.118-22.918-8.781l-198.764-178.475-198.764 178.475c-14.078 12.639-35.815 11.469-48.453-2.606-6.123-6.819-9.225-15.615-8.732-24.766.492-9.152 4.519-17.564 11.339-23.687l221.686-199.059c13.068-11.733 32.779-11.732 45.847 0l221.688 199.059c6.82 6.122 10.846 14.535 11.339 23.687.492 9.152-2.609 17.947-8.732 24.767-6.499 7.235-15.807 11.385-25.536 11.386z" fill="#d79b7a" /><path d="m281.755 49.787-218.852 196.517c-6.82 6.119-10.848 14.536-11.342 23.684-.494 9.107 2.586 17.873 8.664 24.683l-2.987 2.689c-14.084 12.64-35.82 11.466-48.451-2.606-6.13-6.82-9.23-15.618-8.736-24.765.494-9.148 4.522-17.565 11.342-23.684l221.685-199.063c13.063-11.734 32.78-11.734 45.843 0z" fill="#d08b61" /><path d="m354.046 307.416c-46.294 0-94.295 38.729-83.822 83.822 2.317 9.978 9.317 11.391 16.852 11.29 46.289-.624 80.549-37.644 83.822-83.822.617-8.697-5.906-11.35-16.852-11.29z" fill="#c6ea7c" /><path d="m303.059 391.242c.952 4.061 2.671 6.71 4.893 8.396-6.612 1.795-13.595 2.791-20.875 2.89-7.531.099-14.537-1.314-16.858-11.286-10.465-45.1 37.536-83.828 83.828-83.828 5.462-.022 9.819.624 12.742 2.353-38.903 9.031-72.673 42.922-63.73 81.475z" fill="#b2e254" /><path d="m162.177 283.636c57.867 0 117.869 48.411 104.777 104.778-2.897 12.472-11.647 14.239-21.065 14.112-57.862-.78-100.686-47.055-104.777-104.777-.771-10.871 7.383-14.187 21.065-14.113z" fill="#c6ea7c" /><path d="m258.583 400.339c-3.667 1.861-8.1 2.244-12.698 2.189-57.863-.777-100.686-47.059-104.769-104.78-.777-10.87 7.378-14.187 21.061-14.11 6.469 0 12.972.602 19.386 1.762-5.287 1.981-8.079 5.791-7.608 12.348 3.592 50.792 37.186 92.728 84.628 102.591z" fill="#b2e254" /><g><path d="m276.27 351.678v121.88h-15v-121.88c0-4.14 3.36-7.5 7.5-7.5s7.5 3.36 7.5 7.5z" fill="#97d729" /></g></g></svg>
            </a>
        </li>
        <li class="">
            <a asp-area="" asp-controller="MyPlants" class="">
                <svg class="navbar-item" viewBox="0 0 480.02557 480" xmlns="http://www.w3.org/2000/svg"><path d="m474.671875 232.453125-66.554687-23.289063c-26.558594-9.296874-55.746094-7.433593-80.910157 5.160157-25.160156 12.597656-44.144531 34.847656-52.617187 61.679687l-17.414063 55.144532-17.144531 12.855468v-115.160156c-.019531-15.347656 7.65625-29.6875 20.4375-38.183594l-8.878906-13.3125c-17.234375 11.464844-27.582032 30.796875-27.558594 51.496094v15.847656l-10.34375-10.34375-11.3125 11.3125 21.65625 21.65625v175.742188l-16-8v-16.457032c-.003906-40.242187-19.351562-78.035156-52-101.566406-32.652344-23.527344-74.621094-29.929687-112.800781-17.199218l-37.726563 12.574218c-3.285156 1.082032-5.503906 4.144532-5.503906 7.601563s2.21875 6.519531 5.503906 7.601562l8.566406 2.855469c41.0625 13.652344 79.378907 34.488281 113.160157 61.535156l67.800781 54.238282c.457031.320312.953125.589843 1.472656.800781l-.050781.105469 27.578125 13.800781v19.054687h16v-116l28.796875-21.601562-.085937-.109375c.328124-.191407.644531-.402344.945312-.632813 50.660156-50.496094 116.636719-82.765625 187.597656-91.753906l15.738282-1.964844c3.683593-.464844 6.5625-3.402344 6.957031-7.09375s-1.804688-7.167968-5.308594-8.394531zm0 0" fill="#3d7606" /><path d="m307.78125 67.753906-3.75-60.246094c-.238281-3.789062-3.105469-6.890624-6.867188-7.4257808-3.75-.5000002-7.347656 1.6757808-8.644531 5.2343748l-25.875 72.414063c-9.675781 27.050781-14.621093 55.566406-14.613281 84.296875v21.976562c0 3.234375 1.949219 6.152344 4.9375 7.390625 2.988281 1.234375 6.429688.550781 8.71875-1.734375 32.132812-32.144531 48.921875-76.539062 46.09375-121.90625zm0 0" fill="#5fa819" /><path d="m119.492188 106.050781-52.933594-17.597656c-2.734375-.914063-5.75-.285156-7.894532 1.644531-2.140624 1.933594-3.078124 4.867188-2.449218 7.683594l8.800781 39.695312c14.089844 64.769532 71.570313 110.851563 137.855469 110.527344h5.160156c4.417969 0 8-3.582031 8-8 .050781-60.789062-38.855469-114.769531-96.539062-133.953125zm0 0" fill="#5fa819" /><g fill="#589c17"><path d="m158.828125 212.804688c-30.65625-18.867188-55.785156-45.492188-72.855469-77.183594l-25.230468-46.875c-3.488282 1.503906-5.398438 5.292968-4.527344 8.992187l8.800781 39.695313c14.074219 64.789062 71.558594 110.890625 137.855469 110.570312h5.160156c1.820312-.03125 3.570312-.691406 4.957031-1.871094zm0 0" /><path d="m329.773438 269.601562c-16.855469 12.035157-30.179688 28.363282-38.589844 47.289063l-3.699219 8.320313c48.023437-41.164063 107.054687-67.351563 169.800781-75.320313l15.242188-1.886719h-75.3125c-24.183594-.007812-47.761719 7.546875-67.441406 21.597656zm0 0" /><path d="m204.222656 451.042969-.160156-.878907c-15.910156-87.515624-95.550781-148.734374-184.214844-141.601562l-3.722656.296875-10.621094 3.542969c-3.285156 1.082031-5.503906 4.144531-5.503906 7.601562 0 3.457032 2.21875 6.519532 5.503906 7.597656l8.566406 2.859376c41.0625 13.65625 79.378907 34.492187 113.160157 61.542968l67.800781 54.238282c.457031.320312.953125.589843 1.472656.800781l-.050781.105469zm0 0" /></g></svg>
            </a>
        </li>
        <li class="">
            <a asp-area="" asp-controller="Add" class="">
                <svg class="navbar-item" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 455.431 455.431" style="enable-background:new 0 0 455.431 455.431;" xml:space="preserve">
<path style="fill:#8DC640;" d="M405.493,412.764c-69.689,56.889-287.289,56.889-355.556,0c-69.689-56.889-62.578-300.089,0-364.089
	s292.978-64,355.556,0S475.182,355.876,405.493,412.764z" />















<g style="opacity:0.2;">
                <path style="fill:#FFFFFF;" d="M229.138,313.209c-62.578,49.778-132.267,75.378-197.689,76.8
		c-48.356-82.489-38.4-283.022,18.489-341.333c51.2-52.622,211.911-62.578,304.356-29.867
		C377.049,112.676,330.116,232.142,229.138,313.209z" />















</g>
<path style="fill:#FFFFFF;" d="M362.827,227.876c0,14.222-11.378,25.6-25.6,25.6h-85.333v85.333c0,14.222-11.378,25.6-25.6,25.6
	c-14.222,0-25.6-11.378-25.6-25.6v-85.333H115.36c-14.222,0-25.6-11.378-25.6-25.6c0-14.222,11.378-25.6,25.6-25.6h85.333v-85.333
	c0-14.222,11.378-25.6,25.6-25.6c14.222,0,25.6,11.378,25.6,25.6v85.333h85.333C351.449,202.276,362.827,213.653,362.827,227.876z" />















<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </a>
        </li>
        <li class="">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn-logout">
                    <svg class="svg-logout" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#A9A8AE;" d="M321.628,446.372c-63.339,0-122.346-31.372-157.846-83.917c-7.196-10.651-4.394-25.117,6.256-32.313
	c10.654-7.194,25.117-4.394,32.313,6.256c26.832,39.717,71.421,63.429,119.277,63.429c79.306,0,143.827-64.521,143.827-143.827
	c0-79.307-64.521-143.827-143.827-143.827c-47.998,0-92.66,23.819-119.471,63.716c-7.173,10.67-21.63,13.504-32.298,6.335
	c-10.667-7.17-13.503-21.63-6.335-32.298c35.475-52.784,94.579-84.298,158.104-84.298C426.598,65.628,512,151.028,512,256
	C512,360.971,426.598,446.372,321.628,446.372z" />

<path style="fill:#64C37D;" d="M349.088,232.727H79.458l30.09-30.089c9.089-9.089,9.089-23.824,0-32.912
	c-9.087-9.087-23.824-9.087-32.912,0L6.817,239.543c-0.034,0.034-0.062,0.071-0.096,0.105c-0.498,0.504-0.977,1.029-1.429,1.578
	c-0.14,0.169-0.258,0.351-0.391,0.523c-0.334,0.428-0.667,0.858-0.97,1.309c-0.099,0.152-0.185,0.313-0.284,0.467
	c-0.31,0.489-0.616,0.979-0.892,1.491c-0.061,0.112-0.106,0.231-0.166,0.344c-0.289,0.562-0.568,1.13-0.81,1.716
	c-0.033,0.079-0.057,0.163-0.092,0.244c-0.248,0.621-0.483,1.251-0.678,1.898c-0.026,0.087-0.042,0.175-0.067,0.262
	c-0.186,0.638-0.355,1.28-0.487,1.939c-0.039,0.199-0.057,0.402-0.092,0.602c-0.096,0.548-0.192,1.095-0.248,1.655
	C0.04,254.445,0,255.221,0,256c0,0.779,0.04,1.555,0.116,2.324c0.057,0.568,0.155,1.122,0.251,1.676
	c0.034,0.192,0.048,0.389,0.088,0.58c0.133,0.669,0.306,1.322,0.493,1.969c0.023,0.076,0.036,0.157,0.061,0.233
	c0.2,0.656,0.436,1.297,0.69,1.93c0.028,0.068,0.048,0.141,0.076,0.209c0.25,0.6,0.534,1.181,0.83,1.753
	c0.051,0.101,0.095,0.206,0.147,0.307c0.285,0.529,0.602,1.038,0.923,1.542c0.088,0.137,0.163,0.281,0.251,0.414
	c0.321,0.479,0.673,0.936,1.029,1.389c0.113,0.146,0.214,0.299,0.332,0.442c0.483,0.588,0.995,1.153,1.53,1.691l69.815,69.814
	c4.544,4.544,10.501,6.817,16.457,6.817s11.913-2.273,16.455-6.817c9.089-9.089,9.089-23.824,0-32.912l-30.089-30.089h269.63
	c12.853,0,23.273-10.42,23.273-23.273S361.941,232.727,349.088,232.727z" />

<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>                
                </button>
            </form>
        </li>
    </ul>
</div>
